header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  @media (max-width: 767px) {
    flex-flow: column nowrap;
    align-items: center;
  }

  .left {
    display: block;
    margin: 16px 8px;
    text-align: right;

    @media (max-width: 767px) {
      margin-bottom: 0;
      text-align: center;
    }

    h1 {
      display: block;
      margin: 0 0 8px;
      font-size: 56px;
      font-weight: 700;
      color: $color-primary;

      @media (max-width: 1151px) {
        font-size: 48px;
      }

      @media (max-width: 767px) {
        margin-top: 16px;
        font-size: 32px;
      }

      span {
        display: inline;
        font-weight: 400;
        color: $color-secondary;

        @media (max-width: 1151px) {
          display: block;
        }

        @media (max-width: 767px) {
          display: inline;
        }
      }
    }

    p {
      display: block;
      font-size: 24px;
      font-weight: 400;
      text-transform: capitalize;
      color: $color-secondary-light;

      @media (max-width: 1151px) {
        font-size: 16px;
      }
    }
  }

  .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-flow: column nowrap;
      align-items: stretch;
    }

    .contacts {
      display: block;
      margin: 0 8px;
      text-align: right;
      line-height: 24px;
      order: 1;

      @media (max-width: 767px) {
        order: 2;
        text-align: center;
      }

      h4 {
        display: block;
        font-size: 16px;
        font-weight: 700;
        color: $color-primary;
      }

      p {
        display: block;
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        color: $color-secondary;

        &:last-child {
          margin-bottom: 0;
        }

        &.phone {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-end;
          align-items: center;

          @media (max-width: 767px) {
            justify-content: center;
          }

          a {
            display: flex;
          }
        }

        a {
          display: inline;
          color: $color-secondary;

          &:hover, &:focus {
            color: $color-secondary-light;
          }

          &.viber {
            color: #574E92;

            &:hover, &:focus {
              color: #9C95C9;
            }
          }

          &.telegram {
            color: #0D86D7;

            &:hover, &:focus {
              color: #72BBEB;
            }
          }
        }

        svg {
          height: 20px;
          margin: auto 0 auto 16px;
        }
      }
    }

    .photo {
      display: block;
      height: 228px;
      width: 176px;
      margin: 16px 8px;
      order: 2;

      @media (max-width: 767px) {
        order: 1;
        height: 176px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border-radius: 50%;
      }

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}