#education {
  margin-bottom: 16px;

  @media print {
    display: none;
  }

  h2 {
    @include heading-2;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 24px;

    @media (max-width: 767px) {
      flex-flow: column nowrap;
      justify-content: center;
    }

    li {
      @include card;

      a {
        display: block;
        transition: box-shadow 1s ease;

        &:hover, &:active, &:active {
          box-shadow: 0 0 8px 4px $color-primary;
          transition: box-shadow .3s ease;
        }

        .img-box {
          display: block;
          overflow: hidden;
          max-width: 368px;

          &.box-v {
            max-height: 520px;
          }

          &.box-h {
            max-height: 252px;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}