#projects {
  margin-bottom: 16px;

  @media print {
    display: none;
  }

  h2 {
    @include heading-2;

    span {
      font-weight: 400;
      font-size: .7em;
      color: $color-secondary-light;

      a {
        color: $color-secondary-light;

        &:hover, &:active {
          color: $color-secondary;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;

    @media (max-width: 767px) {
      flex-flow: column nowrap;
    }

    li {
      @include card;
      margin-bottom: 24px;

      h3 {
        @include heading-3;

        a {
          display: inline;
          color: $color-secondary;
          border: none;

          &:hover, &:active {
            color: $color-secondary-light;
          }
        }
      }

      a {
        display: block;
        border: 1px solid $color-secondary-light;

        .img-box {
          display: block;
          overflow: hidden;
          max-height: 205px;
          max-width: 366px;

          img {
            display: block;
            height: 100%;
            width: 100%;
            transition: transform 1s ease;

            &:hover, &:active {
              transform: scale(1.11);
            }
          }
        }
      }
    }
  }
}